# Telegram API (получить на my.telegram.org)
API_ID=
API_HASH=

# номер телефона аккаунта userbot
PHONE=

# username бота-источника запросов (без @)
# для теста: ваш тестовый бот
# для прода: GorbushkinBot
SOURCE_BOT=

# ID чата с прайс-листом
# для теста: ID тестового чата
# для прода: ID реального чата
PRICE_CHAT_ID=
